*[b-8lh1yvxdyk] {
    box-sizing: border-box;
}

.page[b-8lh1yvxdyk] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-8lh1yvxdyk] {
    flex: 1;
}

.topbar[b-8lh1yvxdyk] {
    width: 100%;
    margin: 0;
    padding: 0;
}

@media (min-width: 641px) {

     article[b-8lh1yvxdyk] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
