@inherits LayoutComponentBase
@inject KeyboardService KeyboardService

<div class="layout-container" tabindex="0" @onkeydown="HandleKeyDown" @onkeyup="HandleKeyUp">
    <header class="topbar">
        <NavMenu />
    </header>

    <main class="main-content">
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {
    private void HandleKeyDown(KeyboardEventArgs e)
    {
        KeyboardService.KeyDown(e);
    }

    private void HandleKeyUp(KeyboardEventArgs e)
    {
        KeyboardService.KeyUp(e);
    }

    protected override void OnInitialized()
    {
    }
}
